#top {
  background-color: #ccc;
  padding: 20px;
}

ul.dropdown-menu.currency_selector {
}

ul.dropdown-menu.currency_selector :hover {
	/* don't forget the 1px border */
	background-color: #b4c8dc;
}

.symbol_pricelist{
    width: 44px;
    border: 1px;
    display: inline-block;
    }

.lang-selector{
    margin-right:3px;
}


@media only screen and (max-width: 600px) {
  div.lang-price-selector {
    background-color: lightblue;
    margin-left:100px;
  }
}